[submodule "interactive-box_server"]
	path = interactive-box_server
	url = https://github.com/GXGJicin/interactive-box_server
[submodule "interactive-box_elektro"]
	path = interactive-box_elektro
	url = https://github.com/GXGJicin/interactive-box_elektro
